body{
   background-image:linear-gradient(120deg, rgba( 255,255, 255, 0.3), rgba(255, 255, 255, 0.3)),url(./img/sfondo-pesca.jpg);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size:cover;
   font-family: 'Kaushan Script', cursive;
}
table{
    border-style: solid;
    border-color: black;
    font-weight: bold;
    text-align:center;
    width: auto;
    border-collapse:collapse;
    margin-left: auto;
    margin-right:auto;
    background-color:rgba(13, 181, 233, 0.3)

}
td{
    border-style: solid;
    padding: 20px;
}
li{
    padding: 5px;
}
h1,h2,h3{
    text-align: center;
}
